<a href="https://colab.research.google.com/github/Haneen05/Task2/blob/main/Session_7_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Test Your Understanding

# String

## Problem 1
Write a program that prints the last half of the word before the first half with all letters in lowercase.

In [1]:
txt = "Mohamed"
txt1=(txt[3:])
print(txt1.lower())

amed

## Problem 2
Write a program to detect a Palindrome name that when you read it from left or right will be the same.

Example:

 Aziza-True

 Mawada-False

In [3]:
txt2 = "Aziza"
print(txt2[::-1])
txt3 = "Mawada"
print(txt3[::-1])

azizA
adawaM

## Problem 8 (a)
Print the following text using escape sequence characters:

In [21]:
txt = '\tGood morning ladies/gentlemen. Welcome to\n\t"Web Development: \'Frontend\' Course"'
print(txt)

	Good morning ladies/gentlemen. Welcome to
	"Web Development: 'Frontend' Course"

## Problem 8 (b)
Print the text after removing the space at its beginning using a string method.

In [29]:
txtt= "  GDSCNU  "
print(txtt.strip())

GDSCNU

## Problem 8 (c)
Replace the incorrect word 'Frontend' with the correct word 'Backend' using a string method, and print it out the resulting text.

In [ ]:
#c

# List

## Problem 4

Do the required operations on the following list:

In [20]:
l1 = [6,5,10]
print(l1,"\n")
l2 = [1,5,9,10]
print(l2,"\n")
l3=[9,5,10]
print(l3,"\n")
l4=[9,5,10,9,5]
print(l4,"\n")

[6, 5, 10]

[1, 5, 9, 10]

[9, 5, 10]

[9, 5, 10, 9, 5]

Output []:

[6, 5, 10]

[1, 5, 9, 10]

[9, 5, 10]

[9, 5, 10, 9, 5]

# Set

## Problem 5

Count the Number of matching characters in a pair of strings.

In [ ]:
s1 = "GDSC-NU"
s1 = "GDG Cairo"